<div class="container mt-5">
<h4 class="title-form">Consulta Sitios de almacenamiento</h4>
  <form action="#">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="unidad-negocio">Unidad de negocio *</label>
            <select id="unidad-negocio" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="centro-operacion">Centro de Operación Ubicación *</label>
            <select id="centro-operacion" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="sitio-almacenamiento">Sitios de almacenamiento *</label>
            <select id="sitio-almacenamiento" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="tipo-ubicacion">Tipos de ubicación</label>
            <select id="tipo-ubicacion" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>..</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="codigo-negocio">Código de Ubicación</label>
            <select id="codigo-negocio" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="numero-guia">
                
                <a class="cssToolTip">
                    <i class="fas fa-info-circle" style="color:darkblue"></i> Número de guía
                    <span>Por favor ingrese el número de la remesa a consultar</span>
                </a>
            </label>
            <select id="numero-guia" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="estado-guia" >
                <a class="cssToolTip">
                    <i class="fas fa-info-circle" style="color:darkblue"></i> Número de guía
                    <span>Por favor ingrese el estado de la remesa a consultar</span>
                </a>
            </label>
            <select id="estado-guia" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="novedad">Novedad</label>
            <select id="novedad" class="form-control" required="true">
              <option selected>Seleccionar...</option>
              <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="fecha-inicio">Fecha inicio ubicación</label>
            <input type="date" name="fecha-inicio" min="1000-01-01" max="2018-12-31" class="form-control" required="true">
        </div>
        <div class="form-group col-md-3">
            <label for="fecha-fin">Fecha fin ubicación</label>
            <input type="date" name="fecha-fin" min="1000-01-01" max="2018-12-31" class="form-control" required=true>
        </div>
        <input type="button" value="Limpiar Fecha"class="btn-clear-date">
        <div class="alineacion-btn">
            <button name="button" value="Consultar" class="btn-search"><i class="fas fa-eye"></i> Consultar</button>
            <button name="button" value="Limpiar"class="btn-clear-form" ><i class="fas fa-file"></i> Limpiar</button>
        </div>
        
    </div>
  </form>

  <!-- Grid de resultados al obtener la consulta -->
  <form action="#">
    <div class="container mt-6">
        
        <table class="table table-striped">   
            <thead>
              <tr  class="color-text">
                <td>
                   <label>Total Registros: XXXX</label> / 
                   <label>Cantidad Remesas: XXXX</label> /
                   <label>Unidades Logisticas: XXXX</label> /
                   <label>Unidades Internas: XXXX</label>
                </td>          
              </tr>
            </thead>
        </table>
        
        <table class="table table-striped">   
            <thead>  
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
  </form>
</div>

